* {
    --bg: #F9C847;
    --primary: #2D230C;
    --hole-color: #F0AC4D;
    --tertiary: #FFFFFF;
}

#container {
    background-color: #F0AC4D;
    display: flex;
    flex-direction: column;
    width: 60%;
}
